planetimplapi/src/main/mule/planets-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="planets-api-config" api="planets-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="planets-api-main">
        <http:listener config-ref="HTTP_Listener_config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="planets-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="planets-api-console">
        <http:listener config-ref="HTTP_Listener_config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="planets-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\planets:planets-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    planet: "Mercury",
    moons: 0,
    diameter: 4879,
    distanceFromSun: 57.9
  }, 
  {
    planet: "Venus",
    moons: 0,
    diameter: 12104,
    distanceFromSun: 108.2
  }, 
  {
    planet: "Earth",
    moons: 1,
    diameter: 12756,
    distanceFromSun: 149.6
  }, 
  {
    planet: "Mars",
    moons: 0,
    diameter: 6792,
    distanceFromSun: 227.9
  }, 
  {
    planet: "Jupiter",
    moons: 67,
    diameter: 142984,
    distanceFromSun: 778.6
  }, 
  {
    planet: "Saturn",
    moons: 62,
    diameter: 120536,
    distanceFromSun: 1433.5
  }, 
  {
    planet: "Uranus",
    moons: 27,
    diameter: 51118,
    distanceFromSun: 2872.5
  }, 
  {
    planet: "Neptune",
    moons: 14,
    diameter: 49528,
    distanceFromSun: 4495.1
  }, 
  {
    planet: "Pluto(Dwarf-Planet)",
    moons: 5,
    diameter: 2370,
    distanceFromSun: 5906.4
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\planets\(id):planets-api-config">
		<set-payload value='#[%dw 2.0&#10;output application/json&#10;var planets = [&#10;    {&#10;        "planet": "Mercury",&#10;        "moons": 0,&#10;        "diameter": 4879,&#10;        "distanceFromSun": 57.9&#10;    },&#10;    {&#10;        "planet": "Venus",&#10;        "moons": 0,&#10;        "diameter": 12104,&#10;        "distanceFromSun": 108.2&#10;    },&#10;    {&#10;        "planet": "Earth",&#10;        "moons": 1,&#10;        "diameter": 12756,&#10;        "distanceFromSun": 149.6&#10;    },&#10;    {&#10;        "planet": "Mars",&#10;        "moons": 0,&#10;        "diameter": 6792,&#10;        "distanceFromSun": 227.9&#10;    },&#10;    {&#10;        "planet": "Jupiter",&#10;        "moons": 67,&#10;        "diameter": 142984,&#10;        "distanceFromSun": 778.6&#10;    },&#10;    {&#10;        "planet": "Saturn",&#10;        "moons": 62,&#10;        "diameter": 120536,&#10;        "distanceFromSun": 1433.5&#10;    },&#10;    {&#10;        "planet": "Uranus",&#10;        "moons": 27,&#10;        "diameter": 51118,&#10;        "distanceFromSun": 2872.5&#10;    },&#10;    {&#10;        "planet": "Neptune",&#10;        "moons": 14,&#10;        "diameter": 49528,&#10;        "distanceFromSun": 4495.1&#10;    },&#10;    {&#10;        "planet": "Pluto(Dwarf-Planet)",&#10;        "moons": 5,&#10;        "diameter": 2370,&#10;        "distanceFromSun": 5906.4&#10;    }&#10;]&#10;---&#10;planets[attributes.uriParams.id as Number]]' doc:name="Set Payload" doc:id="0ab07273-ab43-49e4-9e73-f58cdd030fb9" />
    </flow>
</mule>
