dbdemo/src/main/mule/dbdemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bc471433-3375-4b57-a52e-f9cad6233aed" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="987e49cb-4ce1-46f3-9156-0d14cab2ec23" >
		<db:my-sql-connection host="192.168.50.13" port="3306" user="ka8kgj" password="I.h@t3.w33D$" database="testDB" />
	</db:config>
	<flow name="dbdemoFlow" doc:id="560196b0-af9d-4d26-8fc6-ab81b2a26745" >
		<http:listener doc:name="Listener" doc:id="cb342471-6986-4dd5-91a7-0a34304998a4" config-ref="HTTP_Listener_config" path="/read"/>
		<db:select doc:name="ReadTable" doc:id="268a35c8-2d00-4aec-95c8-a8e43c57bc87" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from student where first_name =:incoming_name ]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'incoming_name' : attributes.queryParams.name }]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="e907c801-acb4-4429-9239-2105da8c4ec5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	first_name: payload01.first_name default "",
	last_name: payload01.last_name default "",
	age: payload01.age default 0
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="dbdemoFlow1" doc:id="93b0a8ce-c704-49ff-a6b4-b1087c7a3a10" >
		<http:listener doc:name="Listener" doc:id="a34832f9-9b12-4543-8c0a-c68bd5bac30a" config-ref="HTTP_Listener_config" path="/student" allowedMethods="POST" outputMimeType="application/json"/>
		<db:insert doc:name="Insert" doc:id="5a52430b-6c86-46b7-860c-6e9d8fd39c4c" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO student (first_name,last_name,age) VALUES (:first_name,:last_name,:age);]]></db:sql>
			<db:input-parameters ><![CDATA[#[{ first_name: payload.name, last_name: payload.surname, age: payload.age }]]]></db:input-parameters>
		</db:insert>
		<set-payload value="record created" doc:name="Set Payload" doc:id="ae3a23b0-b201-4455-b490-28012847929a" />
	</flow>
</mule>
